In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Import weather data file for city of Austin, TX - October 2012 to October 2019
weather = pd.read_csv("resources/owm/weather.csv")

In [3]:
weather.head(1)

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1349096400,2012-10-01 13:00:00 +0000 UTC,4671654,NaN,NaN,NaN,288.9,287.15,290.37,1012,...,NaN,NaN,NaN,NaN,NaN,1,741,Fog,fog,50d

In [4]:
# Drop columns that dont have data we want. 
# weather_main and weather_description can be accesses using table_codes dataframe >> weather_id

columns = ['dt', 'city_id', 'weather_icon', 'sea_level', 'grnd_level', 
           'snow_1h', 'snow_3h', 'snow_24h', 'rain_1h', 'rain_3h', 'rain_24h',
          'weather_main', 'weather_description']

weather = weather.drop(columns, axis=1)
weather.head()

,dt_iso,city_name,lat,lon,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_today,snow_today,clouds_all,weather_id
0,2012-10-01 13:00:00 +0000 UTC,NaN,NaN,NaN,288.900000,287.150000,290.370000,1012,93,2,290,NaN,NaN,1,741
1,2012-10-01 14:00:00 +0000 UTC,NaN,NaN,NaN,289.015594,289.015594,289.015594,1012,92,2,278,NaN,NaN,1,800
2,2012-10-01 15:00:00 +0000 UTC,NaN,NaN,NaN,289.131188,289.131188,289.131188,1012,92,2,266,NaN,NaN,1,800
3,2012-10-01 16:00:00 +0000 UTC,NaN,NaN,NaN,289.246781,289.246781,289.246781,1012,91,2,255,NaN,NaN,1,800
4,2012-10-01 17:00:00 +0000 UTC,NaN,NaN,NaN,289.362406,289.362406,289.362406,1012,91,2,243,NaN,NaN,1,800

In [5]:
# Rename columns for units clarity

rename = {
        "dt_iso" : "date", 
        "city_name" : "city", 
        "temp" : "temp_K", 
        "temp_min" : "temp_min_K",
        "temp_max" : "temp_max_K", 
        "pressure" : "pres_hPa", 
        "humidity" : "humid_pct", 
        "wind_speed" : "wind_mph",
        "rain_today" : "rain_mm", 
        "snow_today" : "snow_mm",
        "clouds_all" : "cloud_pct", 
        "weather_id" : "weather_type_id"
}

weather = weather.rename(rename, axis=1)
weather.head()

,date,city,lat,lon,temp_K,temp_min_K,temp_max_K,pres_hPa,humid_pct,wind_mph,wind_deg,rain_mm,snow_mm,cloud_pct,weather_type_id
0,2012-10-01 13:00:00 +0000 UTC,NaN,NaN,NaN,288.900000,287.150000,290.370000,1012,93,2,290,NaN,NaN,1,741
1,2012-10-01 14:00:00 +0000 UTC,NaN,NaN,NaN,289.015594,289.015594,289.015594,1012,92,2,278,NaN,NaN,1,800
2,2012-10-01 15:00:00 +0000 UTC,NaN,NaN,NaN,289.131188,289.131188,289.131188,1012,92,2,266,NaN,NaN,1,800
3,2012-10-01 16:00:00 +0000 UTC,NaN,NaN,NaN,289.246781,289.246781,289.246781,1012,91,2,255,NaN,NaN,1,800
4,2012-10-01 17:00:00 +0000 UTC,NaN,NaN,NaN,289.362406,289.362406,289.362406,1012,91,2,243,NaN,NaN,1,800

In [6]:
# Format date

weather['date'] = pd.to_datetime(weather['date'], format = '%Y-%m-%d %H:%M:%S +%f %Z').dt.date
weather.head(1)

,date,city,lat,lon,temp_K,temp_min_K,temp_max_K,pres_hPa,humid_pct,wind_mph,wind_deg,rain_mm,snow_mm,cloud_pct,weather_type_id
0,2012-10-01,NaN,NaN,NaN,288.9,287.15,290.37,1012,93,2,290,NaN,NaN,1,741

In [7]:
# Convert Units >> hPa = 100 Pa, Pa / 101325 = atm
# rain_in
# snow_in

weather['temp_F'] = ((weather['temp_K'] - 273.15) * (9/5)) + 32
weather['temp_min_F'] = ((weather['temp_min_K'] - 273.15) * (9/5)) + 32
weather['temp_max_F'] = ((weather['temp_max_K'] - 273.15) * (9/5)) + 32
weather['pres_atm'] = (weather['pres_hPa'] * 100) / 101325
weather['rain_in'] = weather['rain_mm'] / 25.4
weather['snow_in'] = weather['snow_mm'] / 25.4

weather.head()

,date,city,lat,lon,temp_K,temp_min_K,temp_max_K,pres_hPa,humid_pct,wind_mph,...,rain_mm,snow_mm,cloud_pct,weather_type_id,temp_F,temp_min_F,temp_max_F,pres_atm,rain_in,snow_in
0,2012-10-01,NaN,NaN,NaN,288.900000,287.150000,290.370000,1012,93,2,...,NaN,NaN,1,741,60.350000,57.200000,62.996000,0.998766,NaN,NaN
1,2012-10-01,NaN,NaN,NaN,289.015594,289.015594,289.015594,1012,92,2,...,NaN,NaN,1,800,60.558069,60.558069,60.558069,0.998766,NaN,NaN
2,2012-10-01,NaN,NaN,NaN,289.131188,289.131188,289.131188,1012,92,2,...,NaN,NaN,1,800,60.766138,60.766138,60.766138,0.998766,NaN,NaN
3,2012-10-01,NaN,NaN,NaN,289.246781,289.246781,289.246781,1012,91,2,...,NaN,NaN,1,800,60.974206,60.974206,60.974206,0.998766,NaN,NaN
4,2012-10-01,NaN,NaN,NaN,289.362406,289.362406,289.362406,1012,91,2,...,NaN,NaN,1,800,61.182331,61.182331,61.182331,0.998766,NaN,NaN

In [8]:
### WEATHER TABLE ###
# Insert Austin data not included in table
weather['city'] = 'Austin'
weather['lat'] = 30.2672
weather['lon'] = 97.7431
weather.head()

,date,city,lat,lon,temp_K,temp_min_K,temp_max_K,pres_hPa,humid_pct,wind_mph,...,rain_mm,snow_mm,cloud_pct,weather_type_id,temp_F,temp_min_F,temp_max_F,pres_atm,rain_in,snow_in
0,2012-10-01,Austin,30.2672,97.7431,288.900000,287.150000,290.370000,1012,93,2,...,NaN,NaN,1,741,60.350000,57.200000,62.996000,0.998766,NaN,NaN
1,2012-10-01,Austin,30.2672,97.7431,289.015594,289.015594,289.015594,1012,92,2,...,NaN,NaN,1,800,60.558069,60.558069,60.558069,0.998766,NaN,NaN
2,2012-10-01,Austin,30.2672,97.7431,289.131188,289.131188,289.131188,1012,92,2,...,NaN,NaN,1,800,60.766138,60.766138,60.766138,0.998766,NaN,NaN
3,2012-10-01,Austin,30.2672,97.7431,289.246781,289.246781,289.246781,1012,91,2,...,NaN,NaN,1,800,60.974206,60.974206,60.974206,0.998766,NaN,NaN
4,2012-10-01,Austin,30.2672,97.7431,289.362406,289.362406,289.362406,1012,91,2,...,NaN,NaN,1,800,61.182331,61.182331,61.182331,0.998766,NaN,NaN

In [9]:
weather.to_csv('resources/csv_files/hourly_weather.csv', index = False)

In [10]:
# CSV file has weather condition codes that correspond to descriptions. 
# Pull data from website into tables using Pandas.
# Same for units used in CSV.

In [11]:
# Weather Condition Codes

url_codes = 'https://openweathermap.org/weather-conditions'
table_codes = pd.read_html(url_codes)

# First table is icons, removed
table_codes.pop(0)

# Number of tables retrieved from website
len(table_codes)

7

In [12]:
table_codes[0].head()

    ID          Main                   Description Icon
0  200  Thunderstorm  thunderstorm with light rain  11d
1  201  Thunderstorm        thunderstorm with rain  11d
2  202  Thunderstorm  thunderstorm with heavy rain  11d
3  210  Thunderstorm            light thunderstorm  11d
4  211  Thunderstorm                  thunderstorm  11d

In [13]:
table_codes[1].head()

    ID     Main                   Description Icon
0  300  Drizzle       light intensity drizzle  09d
1  301  Drizzle                       drizzle  09d
2  302  Drizzle       heavy intensity drizzle  09d
3  310  Drizzle  light intensity drizzle rain  09d
4  311  Drizzle                  drizzle rain  09d

In [14]:
# column labels are different than first two tables
table_codes[2].head()

     0     1                     2     3
0   ID  Main           Description  Icon
1  500  Rain            light rain   10d
2  501  Rain         moderate rain   10d
3  502  Rain  heavy intensity rain   10d
4  503  Rain       very heavy rain   10d

In [15]:
# Column titles do not match, need to munge data to make it all fit in one table

# columns with titles into one df
df1 = pd.concat([table_codes[0], table_codes[1], table_codes[5], table_codes[6]])

# columns with no titles into one df, and then use labels from df above
df2 = pd.concat([table_codes[2], table_codes[3], table_codes[4]])
df2.columns = ['ID', 'Main', 'Description', 'Icon']

# squish it all together on same column names
table_codes_all = pd.concat([df1, df2])
df = table_codes_all.sort_values('Icon', ascending=False).head(5)
df

     ID     Main        Description  Icon
0    ID     Main        Description  Icon
0    ID     Main        Description  Icon
0    ID     Main        Description  Icon
10  781  Tornado            tornado   50d
4   731     Dust  sand/ dust whirls   50d

In [16]:
### I cannot figure out how to delete the rows with the headers in them ###

# Need to delete random column titles in rows
table_codes_all[~table_codes_all.Icon.str.startswith('Icon')]
df = table_codes_all.sort_values('Icon', ascending=False)
df

     ID          Main                      Description     Icon
0    ID          Main                      Description     Icon
0    ID          Main                      Description     Icon
0    ID          Main                      Description     Icon
10  781       Tornado                          tornado      50d
4   731          Dust                sand/ dust whirls      50d
1   701          Mist                             mist      50d
3   721          Haze                             Haze      50d
2   711         Smoke                            Smoke      50d
5   741           Fog                              fog      50d
6   751          Sand                             sand      50d
7   761          Dust                             dust      50d
8   762           Ash                     volcanic ash      50d
9   771        Squall                          squalls      50d
5   612          Snow               Light shower sleet      13d
1   600          Snow                       light snow      13d
2   601          Snow                             Snow      13d
3   602          Snow                       Heavy snow      13d
4   611          Snow                            Sleet      13d
10  621          Snow                      Shower snow      13d
6   613          Snow                     Shower sleet      13d
7   615          Snow              Light rain and snow      13d
8   616          Snow                    Rain and snow      13d
9   620          Snow                Light shower snow      13d
11  622          Snow                Heavy shower snow      13d
6   511          Rain                    freezing rain      13d
1   201  Thunderstorm           thunderstorm with rain      11d
0   200  Thunderstorm     thunderstorm with light rain      11d
2   202  Thunderstorm     thunderstorm with heavy rain      11d
3   210  Thunderstorm               light thunderstorm      11d
4   211  Thunderstorm                     thunderstorm      11d
5   212  Thunderstorm               heavy thunderstorm      11d
6   221  Thunderstorm              ragged thunderstorm      11d
7   230  Thunderstorm  thunderstorm with light drizzle      11d
8   231  Thunderstorm        thunderstorm with drizzle      11d
9   232  Thunderstorm  thunderstorm with heavy drizzle      11d
3   502          Rain             heavy intensity rain      10d
4   503          Rain                  very heavy rain      10d
5   504          Rain                     extreme rain      10d
2   501          Rain                    moderate rain      10d
1   500          Rain                       light rain      10d
0   300       Drizzle          light intensity drizzle      09d
1   301       Drizzle                          drizzle      09d
7   520          Rain      light intensity shower rain      09d
8   521          Rain                      shower rain      09d
9   522          Rain      heavy intensity shower rain      09d
10  531          Rain               ragged shower rain      09d
6   313       Drizzle          shower rain and drizzle      09d
2   302       Drizzle          heavy intensity drizzle      09d
3   310       Drizzle     light intensity drizzle rain      09d
4   311       Drizzle                     drizzle rain      09d
5   312       Drizzle     heavy intensity drizzle rain      09d
7   314       Drizzle    heavy shower rain and drizzle      09d
8   321       Drizzle                   shower drizzle      09d
2   803        Clouds            broken clouds: 51-84%  04d 04n
3   804        Clouds         overcast clouds: 85-100%  04d 04n
1   802        Clouds         scattered clouds: 25-50%  03d 03n
0   801        Clouds               few clouds: 11-25%  02d 02n
0   800         Clear                        clear sky  01d 01n

In [17]:
#dropping first three rows 
df

     ID          Main                      Description     Icon
0    ID          Main                      Description     Icon
0    ID          Main                      Description     Icon
0    ID          Main                      Description     Icon
10  781       Tornado                          tornado      50d
4   731          Dust                sand/ dust whirls      50d
1   701          Mist                             mist      50d
3   721          Haze                             Haze      50d
2   711         Smoke                            Smoke      50d
5   741           Fog                              fog      50d
6   751          Sand                             sand      50d
7   761          Dust                             dust      50d
8   762           Ash                     volcanic ash      50d
9   771        Squall                          squalls      50d
5   612          Snow               Light shower sleet      13d
1   600          Snow                       light snow      13d
2   601          Snow                             Snow      13d
3   602          Snow                       Heavy snow      13d
4   611          Snow                            Sleet      13d
10  621          Snow                      Shower snow      13d
6   613          Snow                     Shower sleet      13d
7   615          Snow              Light rain and snow      13d
8   616          Snow                    Rain and snow      13d
9   620          Snow                Light shower snow      13d
11  622          Snow                Heavy shower snow      13d
6   511          Rain                    freezing rain      13d
1   201  Thunderstorm           thunderstorm with rain      11d
0   200  Thunderstorm     thunderstorm with light rain      11d
2   202  Thunderstorm     thunderstorm with heavy rain      11d
3   210  Thunderstorm               light thunderstorm      11d
4   211  Thunderstorm                     thunderstorm      11d
5   212  Thunderstorm               heavy thunderstorm      11d
6   221  Thunderstorm              ragged thunderstorm      11d
7   230  Thunderstorm  thunderstorm with light drizzle      11d
8   231  Thunderstorm        thunderstorm with drizzle      11d
9   232  Thunderstorm  thunderstorm with heavy drizzle      11d
3   502          Rain             heavy intensity rain      10d
4   503          Rain                  very heavy rain      10d
5   504          Rain                     extreme rain      10d
2   501          Rain                    moderate rain      10d
1   500          Rain                       light rain      10d
0   300       Drizzle          light intensity drizzle      09d
1   301       Drizzle                          drizzle      09d
7   520          Rain      light intensity shower rain      09d
8   521          Rain                      shower rain      09d
9   522          Rain      heavy intensity shower rain      09d
10  531          Rain               ragged shower rain      09d
6   313       Drizzle          shower rain and drizzle      09d
2   302       Drizzle          heavy intensity drizzle      09d
3   310       Drizzle     light intensity drizzle rain      09d
4   311       Drizzle                     drizzle rain      09d
5   312       Drizzle     heavy intensity drizzle rain      09d
7   314       Drizzle    heavy shower rain and drizzle      09d
8   321       Drizzle                   shower drizzle      09d
2   803        Clouds            broken clouds: 51-84%  04d 04n
3   804        Clouds         overcast clouds: 85-100%  04d 04n
1   802        Clouds         scattered clouds: 25-50%  03d 03n
0   801        Clouds               few clouds: 11-25%  02d 02n
0   800         Clear                        clear sky  01d 01n

In [18]:
df = df.reset_index(drop=True)

In [19]:
df

     ID          Main                      Description     Icon
0    ID          Main                      Description     Icon
1    ID          Main                      Description     Icon
2    ID          Main                      Description     Icon
3   781       Tornado                          tornado      50d
4   731          Dust                sand/ dust whirls      50d
5   701          Mist                             mist      50d
6   721          Haze                             Haze      50d
7   711         Smoke                            Smoke      50d
8   741           Fog                              fog      50d
9   751          Sand                             sand      50d
10  761          Dust                             dust      50d
11  762           Ash                     volcanic ash      50d
12  771        Squall                          squalls      50d
13  612          Snow               Light shower sleet      13d
14  600          Snow                       light snow      13d
15  601          Snow                             Snow      13d
16  602          Snow                       Heavy snow      13d
17  611          Snow                            Sleet      13d
18  621          Snow                      Shower snow      13d
19  613          Snow                     Shower sleet      13d
20  615          Snow              Light rain and snow      13d
21  616          Snow                    Rain and snow      13d
22  620          Snow                Light shower snow      13d
23  622          Snow                Heavy shower snow      13d
24  511          Rain                    freezing rain      13d
25  201  Thunderstorm           thunderstorm with rain      11d
26  200  Thunderstorm     thunderstorm with light rain      11d
27  202  Thunderstorm     thunderstorm with heavy rain      11d
28  210  Thunderstorm               light thunderstorm      11d
29  211  Thunderstorm                     thunderstorm      11d
30  212  Thunderstorm               heavy thunderstorm      11d
31  221  Thunderstorm              ragged thunderstorm      11d
32  230  Thunderstorm  thunderstorm with light drizzle      11d
33  231  Thunderstorm        thunderstorm with drizzle      11d
34  232  Thunderstorm  thunderstorm with heavy drizzle      11d
35  502          Rain             heavy intensity rain      10d
36  503          Rain                  very heavy rain      10d
37  504          Rain                     extreme rain      10d
38  501          Rain                    moderate rain      10d
39  500          Rain                       light rain      10d
40  300       Drizzle          light intensity drizzle      09d
41  301       Drizzle                          drizzle      09d
42  520          Rain      light intensity shower rain      09d
43  521          Rain                      shower rain      09d
44  522          Rain      heavy intensity shower rain      09d
45  531          Rain               ragged shower rain      09d
46  313       Drizzle          shower rain and drizzle      09d
47  302       Drizzle          heavy intensity drizzle      09d
48  310       Drizzle     light intensity drizzle rain      09d
49  311       Drizzle                     drizzle rain      09d
50  312       Drizzle     heavy intensity drizzle rain      09d
51  314       Drizzle    heavy shower rain and drizzle      09d
52  321       Drizzle                   shower drizzle      09d
53  803        Clouds            broken clouds: 51-84%  04d 04n
54  804        Clouds         overcast clouds: 85-100%  04d 04n
55  802        Clouds         scattered clouds: 25-50%  03d 03n
56  801        Clouds               few clouds: 11-25%  02d 02n
57  800         Clear                        clear sky  01d 01n

In [20]:
df = df.drop([df.index[0],df.index[1],df.index[2]])

In [21]:
df = df.reset_index(drop=True)

In [22]:
# df.to_csv('resources/csv_files/weather_type.csv', index = False)

In [23]:
###### WEATHER TYPE TABLE ##########
columns = ['Icon']
df = df.drop(columns, axis=1) 
df

     ID          Main                      Description
0   781       Tornado                          tornado
1   731          Dust                sand/ dust whirls
2   701          Mist                             mist
3   721          Haze                             Haze
4   711         Smoke                            Smoke
5   741           Fog                              fog
6   751          Sand                             sand
7   761          Dust                             dust
8   762           Ash                     volcanic ash
9   771        Squall                          squalls
10  612          Snow               Light shower sleet
11  600          Snow                       light snow
12  601          Snow                             Snow
13  602          Snow                       Heavy snow
14  611          Snow                            Sleet
15  621          Snow                      Shower snow
16  613          Snow                     Shower sleet
17  615          Snow              Light rain and snow
18  616          Snow                    Rain and snow
19  620          Snow                Light shower snow
20  622          Snow                Heavy shower snow
21  511          Rain                    freezing rain
22  201  Thunderstorm           thunderstorm with rain
23  200  Thunderstorm     thunderstorm with light rain
24  202  Thunderstorm     thunderstorm with heavy rain
25  210  Thunderstorm               light thunderstorm
26  211  Thunderstorm                     thunderstorm
27  212  Thunderstorm               heavy thunderstorm
28  221  Thunderstorm              ragged thunderstorm
29  230  Thunderstorm  thunderstorm with light drizzle
30  231  Thunderstorm        thunderstorm with drizzle
31  232  Thunderstorm  thunderstorm with heavy drizzle
32  502          Rain             heavy intensity rain
33  503          Rain                  very heavy rain
34  504          Rain                     extreme rain
35  501          Rain                    moderate rain
36  500          Rain                       light rain
37  300       Drizzle          light intensity drizzle
38  301       Drizzle                          drizzle
39  520          Rain      light intensity shower rain
40  521          Rain                      shower rain
41  522          Rain      heavy intensity shower rain
42  531          Rain               ragged shower rain
43  313       Drizzle          shower rain and drizzle
44  302       Drizzle          heavy intensity drizzle
45  310       Drizzle     light intensity drizzle rain
46  311       Drizzle                     drizzle rain
47  312       Drizzle     heavy intensity drizzle rain
48  314       Drizzle    heavy shower rain and drizzle
49  321       Drizzle                   shower drizzle
50  803        Clouds            broken clouds: 51-84%
51  804        Clouds         overcast clouds: 85-100%
52  802        Clouds         scattered clouds: 25-50%
53  801        Clouds               few clouds: 11-25%
54  800         Clear                        clear sky

In [24]:
df.to_csv('resources/csv_files/weather_type.csv', index =False)

In [25]:
##### UNIT TABLE  ######

url_units = 'http://openweathermap.org/weather-data'
table_units = pd.read_html(url_units)

In [26]:
# Number of tables retrieved from website
len(table_units)

3

In [27]:
####### UNIT TABLE #############
units = table_units[0].head(5)
units

  Parameter                  Description   Standard     Metric   Imperial
0        id          City identification          -          -          -
1        dt          Data receiving time  unix, UTC  unix, UTC  unix, UTC
2      name                    City name          -          -          -
3     coord                        coord      coord      coord      coord
4       lat  City geo location, latitude          -          -          -

In [28]:
# units = pd.DataFrame(units) 
units.to_csv('resources/csv_files/unit.csv', index=False)